.navbar-default {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 0px 0px 0px 0px;
	border-width: 0px;
	background-color: #EC008B;
}

.navbar-header .navbar-brand a {
	color: black;
}